.radar {
  position: relative;
  overflow: hidden;
}

.radar_text {
  padding: 0;
  margin: 10px;
}

#radar {
  border-radius: 10px;
  min-width: 650px;
  min-height: 350px;
  padding: 0;
  margin: 0;
  border: 2px solid white;
}

@media screen and (max-width: 650px) {
  #radar {
    min-width: 80%;
    min-height: 400px;
  }
}
